header {
  text-align: center;
  margin-bottom: 15px;
  h4 {
    color: var(--primary-color);
    font-size: 14px;
  }
  h2 {
    color: var(--text-color);
    font-size: 20px;
    margin-top: 10px;
  }
}
